@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');

* {
    font-family: 'Inter Tight', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 80%;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

}

.up {
    border-radius: 8px 8px 0 0;

    background-image: url(./Assets/Pattern.png);

    /* background-color: #255d83;  */
    /* background-color: #735983; */
    background-color: #cc6686;

    color: #F9F7F5 ;
    min-height: 35%;
    
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 25px;

}

.titulo {
    font-size: 28px;
}




.down {
    border-radius: 0 0 8px 8px ;
    height: 45%;
    background-color:white ;

    padding: 25px;

}

.subtexto {
    font-size: 16px;
    text-align: center;
}

input {
    width: 70%;
    height: 40px;
    border-radius: 8px;
    border: none;
    text-indent: 12px;

    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
}

button {
    padding: 12px;
    border-radius: 8px;
    border: none;

    background-color: #cc6686;
    color: #F9F7F5;
}

button:hover {
    transform: scale(1.05);
    transition: 200ms;
}

.textomenor {
    padding-top: 12px;
    color: #212529;
    font-size: 14px;
}



body {
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%239c3a5c' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23b45071' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%239c3a5c' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23b45071' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23CC6686' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23543c63' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23634a73' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23735983' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23634a73' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23543c63' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23735983' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23543c63' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23735983' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23634a73' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23735983' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}


@media only screen and (max-width: 1196px) {
    .card {
        width: 60%;
        height: 85%;
    }
  }

  @media  only screen and  (max-width: 800px) {
    .card {
        width: 70%;
        height: 85%;
    }
  }
  
@media  only screen and (max-width: 414px) {
    .card {
        width: 100%;
        height: 85%;
    }
}




